<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/logged_in">Bowling App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/book_game">Book Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/booked_games">Booked Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/previous_games">Previous Games</a>
                </li>
            </ul>
        </div>
        <form action="/logout" method="POST" class="ml-auto">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </nav>
    
    <div class="container">
        <h1 class="mt-5">Booking List</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                
                <th>Start time</th>
                <th>End time</th>
                <th>laneID</th>
                <th>player ID</th>
                <th>Date</th>
                <th>Lane Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                
                <td>{{ booking['startTime'] }}</td>
                <td>{{ booking['endTime'] }}</td>
                <td>{{ booking['laneID'] }}</td>
                <td>{{ booking['playerID'] }}</td>
                <td>{{ booking['date'] }}</td>
                <td>{{ booking['laneName'] }}</td>
                <td>
                    <form action="/remove_booking" method="POST">
                        <input type="hidden" name="booking_id" value="{{ booking['bookingID'] }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
