<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    {% for num in numOfGames %}
    <h1>Previous Games List {{num['numOfGames']}}</h1>
    {% endfor %}
    <table>
        <thead>
            <tr>
                <th>gameID</th>
                <th>date</th>
                <th>score</th>
                <th>playerID</th>
            </tr>
        </thead>
        <tbody>
            {% for game in previousGames %}
            <tr>
                <td>{{ game['gameID'] }}</td>
                <td>{{ game['date'] }}</td>
                <td>{{ game['score'] }}</td>
                <td>{{ game['playerID'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>