<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>last name</th>
                <th>email</th>
                <th>password</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player['playerID'] }}</td>
                <td>{{ player['fname'] }}</td>
                <td>{{ player['lname'] }}</td>
                <td>{{ player['email'] }}</td>
                <td>{{ player['password'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>